body {
  text-align: center;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: darkgreen;
  background: lightgrey;
}

#wrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: blue;
  margin-left: 100px;
  margin-right: 100px;
}

.score {
  padding: 5px 10px;
  /* background: #3E3E3E; */
  color: #FC4A3C;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.1em;
  font-family: Courier, monospace;
}

#app {
  border: 1px solid #7AAE6F;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  width: 30px;
  height: 30px;
  border: 1px solid #7AAE6F;
  float: left;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  background: #A6EF96;
}

.box.revealed {
  background: #eeffee;
}

.box.clickedbomb {
  background: #FC6F75;
}
